*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  color: #183344;
  font-weight: 400;
  line-height: 1.6; }

/*
 * Open Sans
================================================================================ */
@font-face {
  font-family: 'opensans-regular';
  src: url("fonts/opensans/OpenSans-Regular-webfont.eot");
  src: url("fonts/opensans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-italic';
  src: url("fonts/opensans/OpenSans-Italic-webfont.eot");
  src: url("fonts/opensans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Italic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Italic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-light';
  src: url("fonts/opensans/OpenSans-Light-webfont.eot");
  src: url("fonts/opensans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Light-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-light-italic';
  src: url("fonts/opensans/OpenSans-LightItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-LightItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-semibold';
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-semibold-italic';
  src: url("fonts/opensans/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-bold';
  src: url("fonts/opensans/OpenSans-Bold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-bold-italic';
  src: url("fonts/opensans/OpenSans-BoldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-BoldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-extrabold';
  src: url("fonts/opensans/OpenSans-ExtraBold-webfont.eot");
  src: url("fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-ExtraBold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-extrabold-italic';
  src: url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
 * Libre Baskerville
================================================================================ */
@font-face {
  font-family: 'librebaskerville-bold';
  src: url("fonts/librebaskerville/librebaskerville-bold-webfont.eot");
  src: url("fonts/librebaskerville/librebaskerville-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff"), url("fonts/librebaskerville/librebaskerville-bold-webfont.ttf") format("truetype"), url("fonts/librebaskerville/librebaskerville-bold-webfont.svg#libre_baskervillebold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'librebaskerville-italic';
  src: url("fonts/librebaskerville/librebaskerville-italic-webfont.eot");
  src: url("fonts/librebaskerville/librebaskerville-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff"), url("fonts/librebaskerville/librebaskerville-italic-webfont.ttf") format("truetype"), url("fonts/librebaskerville/librebaskerville-italic-webfont.svg#libre_baskervilleitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'librebaskerville-regular';
  src: url("fonts/librebaskerville/librebaskerville-regular-webfont.eot");
  src: url("fonts/librebaskerville/librebaskerville-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff"), url("fonts/librebaskerville/librebaskerville-regular-webfont.ttf") format("truetype"), url("fonts/librebaskerville/librebaskerville-regular-webfont.svg#libre_baskervilleregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*****************************/
.heading-1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  font-size: 10rem;
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  letter-spacing: -2px;
  line-height: 1; }
  @media only screen and (max-width: 75em) {
    .heading-1 {
      font-size: 8rem; } }
  @media only screen and (max-width: 62.5em) {
    .heading-1 {
      font-size: 7rem; } }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 3rem; } }

.heading-2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 2.5rem; }
  @media only screen and (max-width: 50em) {
    .heading-2 {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 1.2rem; } }

.header {
  color: #fff;
  text-shadow: 0px 1px 3px rgba(14, 28, 26, 0.8);
  text-align: center;
  background: radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 110px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px 370px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 0, linear-gradient(45deg, #183344 50%, #7f8ba8 80%, #b46421 90%, #f06000 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  display: grid;
  grid-template-columns: 3rem [header-start] 1fr [header-end] 3rem;
  grid-template-rows: min-content minmax(1fr, 30rem) minmax(min-content, max-content);
  height: 100vh; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-template-columns: 1rem [header-start] 1fr [header-end] 1rem;
      grid-template-rows: min-content 20rem minmax(min-content, max-content); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-rows: min-content 10rem minmax(min-content, max-content); } }

.navigation {
  grid-column: header-start / header-end;
  grid-row: 1 / 2; }
  .navigation__list {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 62.5em) {
      .navigation__list {
        font-size: 1.1rem; } }
  .navigation__item {
    padding: 2rem 1rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #fff; }
  .navigation__link:hover, .navigation__link:active {
    color: #f06000;
    text-shadow: none; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0e1c1a;
  z-index: 1000; }

#navbar li.active > a {
  color: #f06000;
  text-shadow: none; }

.header-content {
  grid-column: header-start / header-end;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 3fr) 1fr;
  grid-template-rows: 1fr repeat(5, minmax(min-content, auto)) 1fr;
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center; }
  .header-content__heading-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
  .header-content__heading-2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
  .header-content__separation {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    width: 60%;
    border: solid #fff;
    border-color: #b46421;
    border-width: 1px 0 0;
    clear: both;
    height: 0; }
  .header-content__icons {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; }
    .header-content__icons .icons--linkedin,
    .header-content__icons .icons--github,
    .header-content__icons .icons--dribbble {
      height: 3rem;
      width: 3rem;
      margin: 0 1.5vw; }
    .header-content__icons .icons--linkedin:hover,
    .header-content__icons .icons--github:hover,
    .header-content__icons .icons--dribbble:hover {
      background-image: linear-gradient(120deg, #f06000 0%, #f06000 50%, #b46421 50%, #b46421 100%);
      border-radius: 50%;
      cursor: pointer; }
  .header-content__down-link {
    grid-row: 6 / 7;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 37.5em) {
      .header-content__down-link {
        display: none; } }
  .header-content__down {
    height: 5rem;
    width: 100%;
    margin-top: 8rem; }
    .header-content__down:hover {
      cursor: pointer;
      animation: go-down 0.3s infinite;
      animation-direction: alternate; }
    @media only screen and (max-width: 37.5em) {
      .header-content__down {
        display: none; } }

@keyframes go-down {
  0% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(-0.5rem); } }

/*BACKGROUND WAVES*/
.wave {
  opacity: 0.3;
  position: absolute;
  top: 10%;
  left: 90%;
  background: #246592;
  width: 500px;
  height: 500px;
  border-radius: 43%;
  animation: drift 3000ms infinite linear; }

.wave.-three {
  animation: drift 5000ms infinite linear; }

.wave.-two {
  top: 9%;
  left: 88%;
  animation: drift 7000ms infinite linear;
  opacity: 0.2;
  background: #f06000; }

@keyframes drift {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }

.about {
  display: grid;
  grid-template-columns: 5rem [about-start] repeat(5, 1fr) 5rem repeat(5, 1fr) [about-end] 5rem;
  grid-template-rows: 7rem 1fr 7rem;
  grid-row-gap: 3rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: #0e1c1a;
  background-size: cover; }
  @media only screen and (max-width: 50em) {
    .about {
      grid-template-rows: 7rem repeat(2, minmax(min-content, max-content)) 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      grid-template-columns: 1rem [about-start] repeat(5, 1fr) 5rem repeat(5, 1fr) [about-end] 1rem; } }
  .about__card {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: #183344; }
    @media only screen and (max-width: 37.5em) {
      .about__card {
        padding: 3rem; } }
    .about__card--picture {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end; }
      @media only screen and (max-width: 62.5em) {
        .about__card--picture {
          margin-bottom: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .about__card--picture {
          flex-direction: column;
          justify-content: space-between;
          align-items: center; } }
    .about__card--profile {
      width: 12rem;
      height: 12rem;
      object-fit: cover;
      display: block;
      align-self: center; }
    .about__card--contact {
      margin-left: 2rem; }
    .about__card--quote {
      font-size: 1.3rem;
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      text-align: justify;
      font-weight: 600;
      margin-bottom: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .about__card--quote {
          text-align: left; } }
    @media only screen and (max-width: 62.5em) {
      .about__card--video {
        width: 90%; } }
  .about .card-1 {
    grid-column: 2 / 7; }
    @media only screen and (max-width: 50em) {
      .about .card-1 {
        grid-column: 3 / 12; } }
  .about .card-2 {
    grid-column: 8 / 13;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .about .card-2 {
        grid-column: 3 / 12;
        grid-row: 3 / 4; } }
  .about__heading-xs {
    font-size: 1.5rem; }
  .about__heading {
    font-size: 2rem;
    margin-bottom: 4px; }
  .about__text {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.2; }

.resume {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 10rem [resume-start] 1fr [resume-end] 10rem;
  grid-template-rows: 10rem [row-start] 1fr [row-end] 10rem; }
  @media only screen and (max-width: 50em) {
    .resume {
      grid-template-columns: 5rem [resume-start] 1fr [resume-end] 5rem;
      grid-template-rows: 5rem [row-start] 1fr [row-end] 5rem; } }
  .resume__container {
    grid-column: resume-start / resume-end;
    grid-row: row-start / row-end;
    display: grid;
    grid-template-rows: repeat(5, minmax(1rem, max-content));
    grid-row-gap: 4rem; }
    .resume__container--education {
      grid-row: 1 / 2; }
    .resume__container--separation-1 {
      grid-row: 2 / 3;
      border: solid #fff;
      border-color: #b46421;
      border-width: 1px 0 0;
      clear: both;
      height: 0; }
    .resume__container--work {
      grid-row: 3 / 4; }
    .resume__container--separation-2 {
      grid-row: 4 / 5;
      border: solid #fff;
      border-color: #b46421;
      border-width: 1px 0 0;
      clear: both;
      height: 0; }
    .resume__container--skills {
      grid-row: 5 / 6; }

.education {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(min-content, auto));
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 50em) {
    .education {
      grid-row-gap: 4rem; } }
  .education__heading {
    grid-column: 1 / 4;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase; }
    .education__heading--underline {
      border-bottom: 3px solid #b46421; }
    @media only screen and (max-width: 62.5em) {
      .education__heading {
        grid-column: 1 / 12;
        grid-row: 1 / 2; } }
  .education__content--1 {
    grid-column: 4 / 12;
    grid-row: 1 / 2; }
    @media only screen and (max-width: 62.5em) {
      .education__content--1 {
        grid-column: 1 / 12;
        grid-row: 2 / 3; } }
  .education__content--2 {
    grid-column: 4 / 12;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 62.5em) {
      .education__content--2 {
        grid-column: 1 / 12;
        grid-row: 3 / 4; } }
  .education__content--3 {
    grid-column: 4 / 12;
    grid-row: 3 / 4; }
    @media only screen and (max-width: 62.5em) {
      .education__content--3 {
        grid-column: 1 / 12;
        grid-row: 4 / 5; } }
  .education__content-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem; }
  .education__content-subtitle {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    color: #7f8ba8;
    font-size: 2rem;
    margin-bottom: 0.7rem; }
  .education__content-text {
    font-size: 1.4rem;
    line-height: 1.8; }
  .education a:link {
    text-decoration: none;
    color: #183344; }
  .education a:hover {
    color: #f06000; }

.work {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(min-content, auto));
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 50em) {
    .work {
      grid-row-gap: 4rem; } }
  .work__heading {
    grid-column: 1 / 4;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase; }
    .work__heading--underline {
      border-bottom: 3px solid #b46421; }
    @media only screen and (max-width: 62.5em) {
      .work__heading {
        grid-column: 1 / 12;
        grid-row: 1 / 2; } }
  .work__content--1 {
    grid-column: 4 / 12;
    grid-row: 1 / 2; }
    @media only screen and (max-width: 62.5em) {
      .work__content--1 {
        grid-column: 1 / 12;
        grid-row: 2 / 3; } }
  .work__content--2 {
    grid-column: 4 / 12;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 62.5em) {
      .work__content--2 {
        grid-column: 1 / 12;
        grid-row: 3 / 4; } }
  .work__content--3 {
    grid-column: 4 / 12;
    grid-row: 3 / 4; }
    @media only screen and (max-width: 62.5em) {
      .work__content--3 {
        grid-column: 1 / 12;
        grid-row: 4 / 5; } }
  .work__content-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem; }
  .work__content-subtitle {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    color: #7f8ba8;
    font-size: 2rem;
    margin-bottom: 0.7rem; }
  .work__content-text {
    font-size: 1.4rem;
    line-height: 1.8; }

.skills {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(min-content, auto));
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 50em) {
    .skills {
      grid-row-gap: 4rem; } }
  .skills__heading {
    grid-column: 1 / 4;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase; }
    .skills__heading--underline {
      border-bottom: 3px solid #b46421; }
    @media only screen and (max-width: 62.5em) {
      .skills__heading {
        grid-column: 1 / 12;
        grid-row: 1 / 2; } }
  .skills__content--1 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media only screen and (max-width: 62.5em) {
      .skills__content--1 {
        grid-column: 1 / 12;
        grid-row: 2 / 3; } }
  .skills__content--2 {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media only screen and (max-width: 62.5em) {
      .skills__content--2 {
        grid-column: 1 / 12;
        grid-row: 3 / 4; } }
  .skills__content--3 {
    grid-column: 10 / 12;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media only screen and (max-width: 62.5em) {
      .skills__content--3 {
        grid-column: 1 / 12;
        grid-row: 4 / 5; } }
  .skills__content--4 {
    grid-column: 4 / 12;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 62.5em) {
      .skills__content--4 {
        grid-column: 1 / 12;
        grid-row: 5 / 6; } }
  .skills__content--5 {
    grid-column: 4 / 12;
    grid-row: 3 / 4; }
    @media only screen and (max-width: 62.5em) {
      .skills__content--5 {
        grid-column: 1 / 12;
        grid-row: 6 / 7; } }
  .skills__content-img {
    margin-bottom: 1rem; }
  .skills__content-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem; }
  .skills__content-text {
    font-size: 1.4rem;
    line-height: 1.8; }

.gallery {
  display: grid;
  grid-template-columns: 3rem [gallery-start] 1fr [gallery-end] 3rem;
  grid-template-rows: 10rem [title-start] 15rem [title-end row-start] 1fr [row-end] 10rem;
  background-color: #0e1c1a; }

.gallery-section {
  grid-column: gallery-start / gallery-end;
  grid-row: title-start / title-end;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem; }
  .gallery-section--underline {
    border-bottom: 3px solid #b46421; }

.design {
  grid-column: gallery-start / gallery-end;
  grid-row: row-start / row-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(27, 6vw);
  grid-gap: 1.5rem; }
  .design__item--1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 4; }
  .design__item--2 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 7; }
  .design__item--3 {
    grid-column: 1 / span 3;
    grid-row: 5 / span 3; }
  .design__item--4 {
    grid-column: 6 / span 3;
    grid-row: 1 / span 3; }
  .design__item--5 {
    grid-column: 6 / span 3;
    grid-row: 4 / span 3; }
  .design__item--6 {
    grid-column: 4 / span 2;
    grid-row: 8 / span 3; }
  .design__item--7 {
    grid-column: 6 / span 3;
    grid-row: 7 / span 4; }
  .design__item--8 {
    grid-column: 1 / span 3;
    grid-row: 8 / span 3; }
  .design__item--9 {
    grid-column: 1 / span 2;
    grid-row: 11 / span 4; }
  .design__item--10 {
    grid-column: 3 / span 3;
    grid-row: 11 / span 4; }
  .design__item--11 {
    grid-column: 6 / span 3;
    grid-row: 11 / span 7; }
  .design__item--12 {
    grid-column: 1 / span 2;
    grid-row: 15 / span 3; }
  .design__item--13 {
    grid-column: 3 / span 3;
    grid-row: 15 / span 3; }
  .design__item--14 {
    grid-column: 1 / span 4;
    grid-row: 18 / span 2; }
  .design__item--15 {
    grid-column: 5 / span 4;
    grid-row: 18 / span 4; }
  .design__item--16 {
    grid-column: 1 / span 4;
    grid-row: 20 / span 4; }
  .design__item--17 {
    grid-column: 5 / span 2;
    grid-row: 22 / span 4; }
  .design__item--18 {
    grid-column: 7 / span 2;
    grid-row: 22 / span 4; }
  .design__item--19 {
    grid-column: 1 / span 4;
    grid-row: 24 / span 4; }
  .design__item--20 {
    grid-column: 5 / span 4;
    grid-row: 26 / span 2; }
  .design__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.webdev-container {
  background: linear-gradient(to bottom right, #246592, #0e1c1a);
  display: grid;
  grid-template-columns: 3rem [webdev-start] 1fr [webdev-end] 3rem;
  grid-template-rows: 10rem [title-start] 10rem [title-end row-start] 1fr [row-end] 10rem; }

.webdev-section {
  grid-column: webdev-start / webdev-end;
  grid-row: title-start / title-end;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: center; }

.webdev {
  grid-column: webdev-start / webdev-end;
  grid-row: row-start / row-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 5rem;
  justify-items: center; }

.card {
  perspective: 150rem;
  -webkit-perspective: 150rem;
  height: 32rem;
  width: 23rem;
  position: relative; }
  .card__side {
    height: 32rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(14, 28, 26, 0.15); }
    .card__side--front {
      background-color: rgba(14, 28, 26, 0.8); }
    .card__side--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to bottom right, rgba(14, 28, 26, 0.8), rgba(14, 28, 26, 0.8));
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__img {
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
  .card__flip {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem; }
    .card__flip--name {
      font-weight: 500;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #fff; }
  .card__info {
    color: #fff;
    padding: 2rem; }
    .card__info--title {
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      line-height: 2;
      margin-bottom: 2rem; }
    .card__info--title > span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: linear-gradient(to bottom right, #f06000, #246592); }
    .card__info--text {
      font-size: 1.4rem; }
  .card__btn {
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    background-color: #b46421;
    color: #fff;
    border: none;
    padding: 0.8rem;
    height: 4rem; }
    .card__btn:hover {
      cursor: pointer;
      background-color: #f06000; }
    .card__btn--link {
      text-decoration: none;
      color: #fff; }

.testimonials {
  background: radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 110px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px 370px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 0, linear-gradient(45deg, #183344 70%, #b46421 90%, #f06000 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  padding: 5rem 0; }

.carousel-cell {
  width: 60%;
  margin: 5rem 1000rem;
  padding: 5rem;
  background: rgba(255, 255, 255, 0.95);
  counter-increment: gallery-cell;
  line-height: 1.8; }
  @media only screen and (max-width: 50em) {
    .carousel-cell {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .carousel-cell {
      width: 100%;
      padding: 2rem; } }
  .carousel-cell__quote {
    font-size: 1.5rem; }
  .carousel-cell__author {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1rem; }

.footer {
  background-color: #0e1c1a;
  display: grid;
  grid-template-rows: 5rem [row-start] 1fr [row-end] 5rem;
  grid-template-columns: 3rem [footer-start] 1fr [footer-end] 3rem; }
  .footer__content {
    grid-row: row-start / row-end;
    grid-column: footer-start / footer-end;
    display: grid;
    grid-template-columns: 1fr max-content 1fr max-content;
    grid-template-rows: 1fr min-content;
    grid-column-gap: 10rem;
    grid-row-gap: 3rem;
    color: rgba(255, 255, 255, 0.8); }
    @media only screen and (max-width: 37.5em) {
      .footer__content {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 3rem;
        grid-column-gap: 1rem; } }
  .footer__icons {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s; }
    .footer__icons--link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8); }
    .footer__icons--link:hover > img {
      background-image: linear-gradient(120deg, #f06000 0%, #f06000 50%, #b46421 50%, #b46421 100%);
      border-radius: 50%;
      cursor: pointer; }
    .footer__icons--link:hover > p {
      cursor: pointer;
      color: #f06000; }
    .footer__icons .icons--linkedin,
    .footer__icons .icons--github,
    .footer__icons .icons--dribbble {
      height: 3rem;
      width: 3rem;
      margin: 0.4vw;
      margin-right: 1.5vw; }
  .footer__contact {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media only screen and (max-width: 37.5em) {
      .footer__contact {
        grid-column: 2 / 3;
        grid-row: 2 / 3; } }
    .footer__contact--heading {
      font-family: "Libre Baskerville", serif;
      font-size: 2.3rem;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 5px; }
    .footer__contact--text {
      font-size: 1.3rem; }
  .footer__copyright {
    grid-column: 4 / 5;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        grid-column: 2 / 3;
        grid-row: 3 / 4; } }
