.about {
    display: grid;
    grid-template-columns:
        5rem [about-start] repeat(5, 1fr) 5rem repeat(5, 1fr)
        [about-end] 5rem;
    grid-template-rows: 7rem 1fr 7rem;
    grid-row-gap: 3rem;

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 7rem repeat(2, minmax(min-content, max-content)) 7rem;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns:
            1rem [about-start] repeat(5, 1fr) 5rem repeat(5, 1fr)
            [about-end] 1rem;
    }

    color: $color-white-contrast;
    background-image: linear-gradient(
        to bottom right,
        #8a6a6d,
        #246592,
        #0e1c1a
    );
    background-size: cover;

    &__card {
        grid-row: 2 / 3;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem;

        @media only screen and (max-width: $bp-small) {
            padding: 3rem;
        }

        background-color: $color-violet;
        color: $color-white-contrast;

        &--picture {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            @media only screen and (max-width: $bp-large) {
                margin-bottom: 3rem;
            }

            @media only screen and (max-width: $bp-small) {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }

        &--profile {
            width: 12rem;
            height: 12rem;
            object-fit: cover;
            display: block;
            align-self: center;
        }

        &--contact {
            margin-left: 2rem;
        }

        &--quote {
            font-size: 1.3rem;
            font-family: $font-text;
            font-style: italic;
            text-align: justify;
            font-weight: 600;
            margin-bottom: 3rem;

            @media only screen and (max-width: $bp-small) {
                text-align: left;
            }
        }

        &--video {
            @media only screen and (max-width: $bp-large) {
                width: 90%;
            }
        }
    }

    .card-1 {
        grid-column: 2 / 7;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 3 / 12;
        }
    }

    .card-2 {
        grid-column: 8 / 13;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 3 / 12;
            grid-row: 3 / 4;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading-xs {
        font-size: 1.5rem;
    }

    &__heading {
        font-size: 2rem;
        margin-bottom: 4px;
    }

    &__text {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1.2;
    }
}
